<div  id="all">
  <div class="bg2"   style=" background-size: 100% 100%; overflow: auto;">
    <div style="width: 24px;top:200px;left:100px; position: relative;">
      测试 1
    </div>
  </div>


  <div class="bg3" style="position: relative;">
    <div style="width: 24px;top:100px">
      文字排版2
    </div>

  </div>


  <div class="bg6">
    <div style="width: 24px;top:100px">
      文字排版3
    </div>

  </div>


  <div class="bg8">
    <div style="width: 24px;top:100px">
      文字排版4
    </div>
  </div>



  <div class="bg11">
    <div style="width: 24px;top:100px">
      文字排版6
    </div>

  </div>

  <div class="bg12">
    <div style="width: 24px;top:100px">
      文字排版7
    </div>

  </div>


  <div class="bg15">
    <div style="width: 24px;top:100px">
      文字排版8
    </div>

  </div>

  <div class="bg16">
    <div style="width: 24px;top:100px">
      文字排版9
    </div>

  </div>


  <div class="bg17">
    <div style="width: 24px;top:100px">
      文字排版10
    </div>

  </div>

  <div class="bg18">
    <div style="width: 24px;top:100px">
      文字排版11
    </div>

  </div>
  <div class="bg19">
    <div style="width: 24px;top:100px">
      文字排版12
    </div>

  </div>
  <div class="bg20">
    <div style="width: 24px;top:100px">
      文字排版13
    </div>

  </div>

  <div class="bg21">
    <div style="width: 24px;top:100px">
      文字排版14
    </div>

  </div>


</div>
<!-- <div class="text">
     测试文字竖形排版
    </div>
    <div class="text">
     数据
    </div> -->

<!-- <nz-carousel [nzEffect]="effect">
        <div nz-carousel-content *ngFor="let index of array">
          <div>
            <img src="{{index.src}}" alt="">
          </div>
        </div>
      </nz-carousel> -->